.accomodation {
    margin-left: auto;
    margin-right: auto;
}


.accomodation-image {
    min-width: 200px;
    min-height: 200px;
    object-fit : cover;
    /* width: 100%; */
}

.accomodation_card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    max-width: 350px;
    margin-top: 6rem;
    text-align: left;
}

.accomodation_card:hover {
    transform: scale(1.01);
}

.Span {
    color: grey;
}

.checkAvailability {
    background-color: #e1494b;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 5px;
}

.checkAvailability:active , .checkAvailability:focus {
    outline: 0;
}

.roomDetail {
    border-radius: 4px;
    padding: 5px;
}

.roomDetail:active , .roomDetail:focus {
    outline: 0;
}

.accomodation_info {
    border-bottom: 1px solid silver;
}

.accomodation-red-line {
    height: 2px;
    width: 3rem;
    background-color: red;
}

.info-detail {
    margin-left: 6px;
    margin-top: 6px;
}

.accomodation-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
}

