.accomodation_header_Image {
    background: url("./images/hotel_facilities_image.jpg") center center;
    max-width: 100%;
    object-fit: cover;
    height: 200px;
    margin-top: -0.6rem;
    position: relative;
    opacity: 0.3;
}

.accomodation_h3 {
    position: relative;
    margin-top: -6rem;
    font-size: 40px;
    margin-left: 5rem;
    font-size: 25px;
}

.AccomodationCard-aligned {
    display: flex;
    margin-left: auto;
    margin-right:auto ;
}

@media (max-width: 700px){
    .AccomodationCard-aligned {
        flex-direction: column;
        align-items: center;
    }
}