.body {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.about_erurostar, .hotel_overview ,.location {
    max-width: 33.3%;
    padding-right: 10px;
}


.about_erurostar >p, .location >p {
    padding: 10px;
}


img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 25px;
}

.overview_list , .location_detail {
    margin-top: 25px;
}

.title-style1 {
    border-bottom: #e8e8e8 1px solid;
    position: relative;
    padding: 0 0 12px 0;
    margin: 0 0 30px 0;
}

.title-block {
    width: 48px;
    height: 3px;
    margin-top: -31px;
    background: #e1493e;
}

.about_button , .overview_button {
    background-color: #fff;
    padding:  5px 10px;
    font-weight: 400;
    border: px solid black;
    border-radius: 4px;
}

.about_button:active , .overview_button:active  {
    font-size: 15px;
}

.about_button:hover , .overview_button:hover {
    background-color:  #e1493e;
    color: black;
    font-weight: 600;
    outline: 0;
}

@media (max-width : 756px ){
    .body {
        flex-direction: column;
        align-items: stretch;
    }
    .about_erurostar, .hotel_overview ,.location {
        max-width: 100vw;
        padding: 0px;
        margin-top: 20px;
    }

    img {
        max-width: 100%;
        overflow: visible;
    }

}