.booking_header_image {
    background: url("./images/hotel_facilities_image.jpg") center center;
    height: 200px;
    position: relative;
    object-fit: cover;
    opacity: 0.3;
    margin-top: -0.6rem;
}

.booking_h3 {
    position: relative;
    margin-top: -6rem;
    font-size: 40px;
    margin-left: 5rem;
    font-size: 25px;
}

.Reservation_confirmation {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 30px;
    color: #fff;
    background-color: #1c1c1c;
    border-bottom: 5px solid red;
    border-top: 5px solid red;
}

.checkIn-Out   {
    display: flex;
} 

.noofrooms , .noofpersons , .checkin ,.checkout ,  .room-type , .form-Name , .form-Name , .form-mobile , .form-email {
    flex-direction: column;
    display: inline-flex;
}

.checkout , .noofpersons {
    margin-left: 1rem;
}

.RoomsPerson {
    margin-top: 2rem;
    display: flex;
}

.silverLine {
    background-color: silver;
    height: 1px;
    margin: 2rem 0px 2rem 0px;
}

.bottom_redline {
    height: 2px;
    background-color: red;
    width: 3rem;
    margin-bottom: 2rem;
}

label {
    font-weight: 500;
}

.roomtype-select {

    align-items: center;
    height: 2rem;
    min-width: 15rem;
}

.checkInInput , .checkOutInput , .roominput , .personsinput , .nameInput , .mobileInput , .emailInput {
    padding: 7px;
}

.checkInInput:active , .checkOutInput:active , .roominput:active , .personsinput:active , .nameInput:active , .mobileInput:active , .emailInput:active {
    outline: 0;
}

.checkInInput:focus , .checkOutInput:focus , .roominput:focus , .personsinput:focus , .nameInput:focus , .mobileInput:focus , .emailInput:focus {
    outline: 0;
}

.inputTypeSubmit {
    padding: 10px;
    background-color: #e1494b;
    font-weight: 500;
    color: #fff;
    border: 0;
}

.inputTypeSubmit:hover {
        background-color: #fff;
        color: black;
}

.inputTypeSubmit:active {
    font-size: 15px;
    outline: 0;
}

.inputTypeSubmit:focus {
    outline: 0;
}