.bottomheader {
    display: flex;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.bottomHeaderImage {
    margin-left: 4rem;
    margin-top: -1.5rem;
}

.bottomheader_navbar {
    display: flex;
    
}

.navbar_first , .navbar_second , .navbar_third , .navbar_fourth {
    display: block;
    padding: 10px;
}

.navbarfirst_home {
    text-align: center;
}

.navbar_first >p {
    font-size: 13px;
    color: #B3C5C9;
    width: 7rem;
    text-align: center;
}

.navbar_second > p, .navbar_third > p, .navbar_fourth > p {
    font-size: 13px;
    color: #B3C5C9;
    text-align: left;
    width: 7rem;
}

.bottomheader_sideline {
    width: 2px;
    height: 3rem;
    background-color:  #B3C5C9;
    margin-top: 1.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
  
  .dropdown-content .a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid silver;
  }

  .dropdown-content a:hover {
    background-color:#968c83;
    color: #fff;
  }

.show {
    display: block; 
}
