.bottomheader_2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.bottomheader_2_image > img {
    width: 12rem;
    margin-top: -0.6rem;
}
.bottomheader_2_Detail {
    display: flex;
    height: 3rem;
    margin-top: 0.8rem;
    background-color: black;
    width: 15rem;
}

.bottomheader_2_heading {
    background-color: black;
    color: #fff;   
    width: 10rem;
    height: 2rem;
}

.bottomheader_2_heading >h4 {
    margin-top: 12px;
}

.sideline_bottomheader_nav {
    width: 2px;
    margin-left: 14px;
    height: 3rem;
    background-color: #fff;
}

.MuiSvgIcon-root {
    margin-top: 9px;
    margin-left: 1rem;
}

.bottomheader_menuicon {
    color: #fff;
    height: 2rem;
}


/* Dropdown Content */

.dropdownContent {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    margin-top: 1rem;
    min-width: 15rem;
}


.dropdownContent a {
    color: silver;
    padding: 12px 16px;
    position: static;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid silver;
    text-align: left;
}

.dropdownContent a:hover {
    text-decoration: none;
    color: #fff;
}

.show  {
    display: block;
}

.bleft {
    margin-left: 1rem;
}