.imageView {
    width : 300px;
    height: 600px;
    opacity: 1;
    position: relative;
    margin-top: -3px;
}
    
.carousel_theme {
    position: relative;
}
    

.carousalItems {
    margin-top: -10px;
}
