.choosingbookingdate_upper_part{
    height: 10rem;
    position: relative;
    background-color: #1c1c1c;
    margin-top: -6rem;
    z-index: 15;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 40px;
    border-bottom: 5px solid red;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
}

.first_select , .second_select , .first_input_check ,select, .second_input_check {
    flex-grow: 1;
    height: 2rem;
    margin: 10px;
    outline-width: 0;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.first_input_check , .second_input_check {
    background: url("./images/date_icon.PNG") no-repeat right;
    background-color: #fff;
}

.Submit {
    height: 2rem;
    background-color: #E1493E;
    border: none;
    margin-top: 3px;
    color: #fff;
    font-weight: 600;
}

.Submit:active {
    font-size: 15px;
}

.Submit:hover {
    background-color: #fff;
    color: black;
}

input[type=text] , input[type=submit]{
    color: black;
}

option {
    text-align: center;
}

@media (max-width:867px) {
    .form-inline select button{
        margin: 2px ;
    }
   .form-inline {
       flex-direction: row;
   }

}

@media (max-width:700px){
    .form-inline input select{
        margin: 10px 0;
      }
      
      .form-inline {
        flex-direction: column;
        align-items: stretch;
        margin-top: 1rem;
      }

      .choosingbookingdate_upper_part {
          height: 20rem;
      }
      
}

/* set css property of datepicker */

.CheckInCalender {
    position: absolute;
    margin-top: -20rem;
}

.CheckOutCalender {
    position: absolute;
    margin-left: 18rem;
    margin-top: -20rem;
}

.react-calendar {
    background: #1c1c1c;
}

@media (max-width:700px){
   
      .CheckInCalender {
        position: absolute;
        margin-top: -26rem;
        margin-left: 1rem;
        } 

        .CheckOutCalender {
            position: absolute;
            margin-top: -22.5rem;
            margin-left: 1rem;
        }
}

.react-calendar button {
}