.contactUpper_image {
    background: url("./images/hotel_facilities_image.jpg") center center;
    height: 200px;
    position: relative;
    object-fit: cover;
    opacity: 0.3;
    margin-top: -0.6rem;
}

.contact_h3 {
    position: relative;
    margin-top: -6rem;
    font-size: 40px;
    margin-left: 5rem;
    font-size: 25px;
}

/* --------------- */

.hotelfacility_bodypart {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0px 70px 0px 70px
}

.hotelfacility_portion {
    min-width: 60%;
    border-right: 1px solid silver;
}

/* -------------- */

.contactDetail {
    padding: 20px;
    min-width: 40%;
}

.firstInput ,.secondInput ,.firstSelect ,.secondSelect{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 7px;
  }

.firstInput ,.secondInput {
    margin: 5px;
    margin-left: 30px;
}

.firstInput:active ,.secondInput:active , .firstInput:focus ,.secondInput:focus {
  outline: 0;
}
  
.firstSelect ,.secondSelect {
    height: 3rem;
    margin-left: 30px;
    margin-top: -3px;
}

  .submittypebutton {
    background-color: #e1494b;
    color: white;
    padding: 7px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submittypebutton:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 20px;
    height: 20rem;
    margin-top: 20px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .reservationbottomline {
      width: 5rem;
      background-color: red;
      height: 2px;
  }

  .ContactForm {
      margin-top: 2rem;
  }

  .contact {
      display: flex;
      align-items: center;
      text-align: center;
  }

.makingDown {
    margin-top: 7px;
}

  .setp {
      margin-top: 17px;
      
  }

  @media (max-width:700px){
    .hotelfacility_bodypart {
      flex: 1;
      flex-direction: column;
    }
  }

  .emailus-bootomline {
      background-color: red;
      width: 3rem;
      height: 2px;
      margin-bottom: 1rem;
  }

  .contactUs-emailus {
      border-bottom: 1px solid silver;
      max-width: 40rem;
  }

  .input_margin {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .contact_input {
      border: none;
  }

  .contact_input:active , .contact_input:focus {
    outline: 0;
  }

  .contact-label {
      margin-top: 5px;
  }

  .text-area {
      border: none;
  }

  .text-area:active , .text-area:focus {
    outline: 0;
  }

  .contactusButton {
      background-color: #e1494b;
      color: #fff;
      font-weight: 600;
      outline-width: 0px;
      padding: 10px 13px 10px 13px;
      border-color: #fff;
      border-radius: 4px;
  }

  .contactusButton:hover {
      background-color: #fff;
      color: black;
  }

  .input_margin_button {
      margin-top: 12px;

  }