.Executive_header_Image {
    background: url("./images/hotel_facilities_image.jpg") center center;
    max-width: 100%;
    object-fit: cover;
    height: 200px;
    margin-top: -0.6rem;
    position: relative;
    opacity: 0.3;
}

.Executive_h3 {
    position: relative;
    margin-top: -6rem;
    font-size: 40px;
    margin-left: 5rem;
    font-size: 25px;
}


/* ------------------------------------- */

.Executive_bodypart {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 10rem;
    padding: 0px 70px 0px 70px
}

.Executive_portion {
    min-width: 60%;
    border-right: 1px solid silver;
}

/* -------------- */

.contactDetail {
    padding: 20px;
    min-width: 40%;
}

.firstInput ,.secondInput ,.firstSelect ,.secondSelect{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 7px;
  }

.firstInput ,.secondInput {
    margin: 5px;
    margin-left: 30px;
    background: url("./images/date_icon.PNG") no-repeat right;
    background-color: #fff;
}
  
.firstSelect ,.secondSelect {
    height: 3rem;
    margin-left: 30px;
    margin-top: -3px;
}

  .submittypebutton {
    background-color: #e1494b;
    color: white;
    padding: 7px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submittypebutton:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 20px;
    height: 20rem;
    margin-top: 20px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .reservationbottomline {
      width: 5rem;
      background-color: red;
      height: 2px;
  }

  .ContactForm {
      margin-top: 2rem;
  }

  .contact {
      display: flex;
      align-items: center;
      text-align: center;
  }

.makingDown {
    margin-top: 7px;
}

  .setp {
      margin-top: 17px;
      
  }

  @media (max-width:700px){
    .Executive_bodypart {
      flex: 1;
      flex-direction: column;
    }
    .Executive_portion {
        border-right: none;
    }
    .contactDetail {
        margin-top: 17rem;
    }
  }

  .CheckInCalenderHotelFacility {
    position: absolute;
    margin-top: -19rem;
  }

  .CheckOutCalenderHotelFacility {
    position: absolute;
    margin-left: 0rem;
    margin-top: -19rem;
  }

  /* -------------- */

  .overview-info {
      display: flex;
      border: 1px solid silver;
      max-width: 30rem;
      display: none;
      position: absolute;
      margin-top: 2px;
  }

  .info-part1 {
      border-right: 1px solid silver;
      width: 20rem;
  }

  .showdialog {
      display: inline-block;
      display: flex;
  }

  .info-part2 {
      width: 30rem;
  }

  .executive-span {
      color: grey;
  }

  .overviewButton1 {
    padding: 15px;
    border: 1px solid silver;
    border-top: 3px solid red;
    font-weight: 600;
  }

  .overviewButton2 {
    padding: 15px;
    border: 1px solid silver;
    border-top: 3px solid red;
    font-weight: 600;
  }

  .overviewButton1:hover {
      color: #fff;
      background-color: #e1494b;
      border: none;
  }

  .overviewButton1:active , .overviewButton1:focus {
    outline: 0; 
  }

  .overviewButton2:hover {
    color: #fff;
    background-color: #e1494b;
  }

  .overviewButton2:active , .overviewButton2:focus {
    outline: 0;
  }

  .facility-info-part1 {
    width: 20rem;
    flex-direction: row;
  }
  .facility-info {
    display: flex;
    border: 1px solid silver;
    margin-left: -9.3rem;
    display: none;
    position: absolute;
  }

  .Executive_room_overview {
      display: flex;
      margin-top: 25rem;
      z-index: 50;
  }

  .facilityToggle {
      display: inline-block;
      display: flex;

  }

  .facility-para {
      display: flex;
      padding: 5px;
  }

  .p {
      margin-top: 4px;
      position: absolute;
      margin-left: 4rem;
  }

  .infoParaBack , .para-background {
      background-color: #bbbbbb;
  }

  .info-Para {
    display: flex;
    padding: 5px;
  }

  /* ----------carousal------ */

  .executiveImageView {
      
  }

  .executive-carousel-theme {
      max-width: 40rem;
      height: 10rem;
  }

  @media (max-width: 700px) {
      .executive-carousel-theme {
          height: 14rem;
      }
      .Executive_room_overview {
          margin-top: 5rem;
      }
  }