.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    height: 15rem;
    color: #fff;
    padding: 50px;
    position: relative;
}

.COE_image > img ,.bravo_image > img{
    max-width: 50%;
    height: 50px;
}

.center_of_excellence > h5 , .Bravo_award >h5 , .social_media > h5 ,.siteMap > h5 {
    font-size: 1rem;
    text-transform: uppercase;
   
}

.social_media_icons {
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.social_media {
    margin-top: -15px;
}

.site_map_links > li {
    list-style-type: none;
    margin-left: -2rem;
}

.bottomLine {
    width: 3rem;
    height: 2px;
    background-color: red;
}

@media (max-width:700px) {
    .footer {
        flex: 1;
        flex-direction: row;
        align-items: center;
    }
    .center_of_excellence > h5 , .Bravo_award >h5 , .social_media > h5 ,.siteMap > h5{
        font-size: 10px;
    }
    .site_map_links > li {
        font-size: 15px;
    }
    .site_map_links  {
        margin-top: 10px;
    }
}