.pics {
    min-width: 300px;
    min-height: 200px;
    object-fit : cover;
    width: 100%;
}

.images {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
}


.images:hover {
    transform: scale(1.07);
}


  .navbar_second {
      display: inline-block;
      position: relative;
  }

  