.photogalleryimage {
    background: url("./images/hotel_facilities_image.jpg") center center;
    height: 200px;
    position: relative;
    object-fit: cover;
    opacity: 0.3;
    margin-top: -0.6rem;
}

.photogallery_h {
    position: relative;
    margin-top: -6rem;
    font-size: 40px;
    margin-left: 5rem;
    font-size: 25px;
    

}

.configuring {
    margin-top: 5rem;
}

.photogalleryImages {
    display: flex;
}