.specialOffer-image {
    max-width: 90%;
}

.specialOffer-info-part {
    display: flex;
    justify-content: space-between;
}

.info-detail , .off-percentage {
    padding: 5px;
}

.info-detail-parts {
    padding: 5px;
    border-bottom: 1px solid silver;
    margin-bottom: 15px;
    color: black;
}

.info-detail-Span {
    color: gray;
}

.info-detail-lastPara {
    border: none;
}

.callNow-button {
    background-color: #e1494b;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 5px 7px;
}

.callNow-button:active , .callNow-button:focus {
    outline: 0;
}

.off-percentage {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
}

.offPercentage-p {
    background-color: #e1494b;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.offPercentage-h {
    border: 1px solid silver;
    margin-top: -1rem;
    padding: 4px 0px;
}
