.hotelfacility_header {
    background: url("./images/hotel_facilities_image.jpg") center center;
    max-width: 100%;
    object-fit: cover;
    height: 200px;
    margin-top: -0.6rem;
    position: relative;
    opacity: 0.3;
}

.hotelfacility_h1 {
    position: relative;
    margin-top: -6rem;
    font-size: 40px;
    margin-left: 5rem;
    font-size: 25px;
}

.hotelfacility_bodypart {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0px 70px 0px 70px
}

.hotelfacility_portion {
    min-width: 60%;
    border-right: 1px solid silver;
}

/* -------------- */

.contactDetail {
    padding: 20px;
    min-width: 40%;
}

.firstInput ,.secondInput ,.firstSelect ,.secondSelect{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 7px;
  }

.firstInput ,.secondInput {
    margin: 5px;
    margin-left: 30px;
    background: url("./images/date_icon.PNG") no-repeat right;
    background-color: #fff;
}
  
.firstSelect ,.secondSelect {
    height: 3rem;
    margin-left: 30px;
    margin-top: -3px;
}

  .submittypebutton {
    background-color: #e1494b;
    color: white;
    padding: 7px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submittypebutton:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #1c1c1c;
    padding: 20px;
    height: 20rem;
    margin-top: 20px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .reservationbottomline {
      width: 5rem;
      background-color: red;
      height: 2px;
  }

  .ContactForm {
      margin-top: 2rem;
  }

  .contact {
      display: flex;
      align-items: center;
      text-align: center;
  }

.makingDown {
    margin-top: 7px;
}

  .setp {
      margin-top: 17px;
      
  }

  @media (max-width:700px){
    .hotelfacility_bodypart {
      flex: 1;
      flex-direction: column;
    }
  }

  .CheckInCalenderHotelFacility {
    position: absolute;
    margin-top: -19rem;
  }

  .CheckOutCalenderHotelFacility {
    position: absolute;
    margin-left: 0rem;
    margin-top: -19rem;
  }