.topheader {
    background-color: #1c1c1c;
    color: #fff;
    align-items: center;
}

.topheader__contactdetail {
    display: flex;
    align-items: center;
    padding: 3px;
    flex-direction: row; 
    width: 95%;
    justify-content: flex-end;
}

.topheader__contactdetail > p {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.MuiSvgIcon-root {
    margin: 3px;
    width: 10px;
}

.buttonVariant2 {
    background-color: #E1493E;
    margin-left: 5px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    width: 5rem;
    
}

.buttonVariant2:hover {
    background-color: #fff;
    color: black;
}

.buttonVariant2:active , .buttonVariant2:focus {
    outline: 0;
}

.buttonVariant {
    background-color: #E1493E;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    height: 2rem;
    margin: 5px;
    border: none;
    width: 8rem;
    font-size: 1rem;
    border-radius: 5px;
}

.buttonVariant:hover {
    background-color: #fff;
    color: black;
}

.buttonVariant:active , .buttonVariant:focus {
    outline: 0;
}

.topheader__contactdetail_button {
    display: flex;
    align-items: center;
    margin-left: 16px;
    justify-content: space-between;
    width: 90%;
}
